@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

svg {
  vertical-align: middle;
}

a:focus {
  outline: none;
}

html {
  /* 

  font-family: 'Inter', sans-serif;
  font-family: 'Manrope', sans-serif; 
  
  */
  font-size: 16px;
}

body {
  background: #0E1621;
  width: 100%;
}

leftside {
  position: fixed;
  top: 0;
  left: 0;
  width: 285px;
  height: 100vh;
  background: #17212B;
}

aside.admin-products {
  position: fixed;
  top: 0;
  right: 0;
  width: 310px;
  height: 100vh;
  background: #17212B;
}

.leftside-head {
  background: #232E3C;
}

.aside-products-head {
  background: #232E3C;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 31px;
}

.aside-product-head-name {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  margin-right: 20px;
}

.leftside-head img {
  padding: 25px 30px;
  width: 133;
}

.leftside-user {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.l-user-info {
  margin-bottom: 25px;
}

.l-user-info-img {
  margin-right: 14px;
}

.l-user-info-img img {
  border-radius: 50px;
  width: 63px;
  height: 63px;
}

.l-user-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin-bottom: 1px;
}

.l-user-status {
  font-size: 13px;
  line-height: 15px;
  color: #5C7484;
  margin-bottom: 5px;
}

.l-user-balance {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #72BBFF;
}

.l-user-balance-text {
  margin-right: 7px;
}

.leftside-upgrade {
  background: #FFB800;
  border-radius: 12px;
  text-decoration: none;
  padding: 10px 16px;
}

.leftside-upgrade-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #17212B;
  text-align: center;
}

.admin-content {
  margin-left: 285px;
  padding-top: 50px;
  padding-left: 60px;
  padding-right: 60px;
}

.admin-content_products {
  margin-left: 285px;
  margin-right: 285px;
  padding-top: 50px;
  padding-left: 60px;
  padding-right: 60px;
}

.adm-navbar__item a {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  padding: 14px 30px;
  text-decoration: none;
  display: inline-block;
  width: -moz-available;
}

.navbar_arrow__exist {
  position: relative;
}

.navbar_arrow__exist::after {
  content: url(../images/adm-navbar__arrow.svg);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  padding: 17px;
}

.adm-navbar__active {
  background: #2B5278;
}

.adm-content-section-head {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.adm-main-content-section-content {
  display: flex;
}

.a-c-s-c-block {
  background: #182533;
  width: 272px;
  /* flex-shrink: 0; */
  border-radius: 17px;
  display: flex;
  padding: 24px 27px;
  text-decoration: none;
  align-items: center;
  transition: background .1s ease-in-out;
  margin-right: 38px;
}

.a-c-s-c-block:hover,
.a-c-s-c-block:focus {
  background: #24394F;
}

.a-c-s-c-block:active {
  background: #121C26;
}

.a-c-s-c-b-img {
  border-radius: 11px;
  width: 46px;
  height: 46px;
  margin-right: 15px;
}

.a-c-s-c-b-text {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.a-c-s-c-b-text-top {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 5px;
  color: #FFFFFF;
}

.a-c-s-c-b-text-bottom {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #5C7484;
}

.admin-content>section {
  margin-bottom: 50px;
}

.shops-stats {
  display: flex;
  justify-content: space-between;
}

.shops-stats-block {
  background: #182533;
  border-radius: 23px;
  padding: 20px;
  min-width: 238px;
  margin-right: 10px;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.shops-stats-block:last-child {
  margin-right: 0;
}

.stats-count {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #25D295;
}

.chart-head {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: -moz-available;
}

.chard-head_name {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  opacity: 0.8;
}

.chead_action {
  font-family: inherit;
  background: none;
  border: none;
  font-size: 14px;
  line-height: 17px;
  color: #3E546A;
}

.chead_action.active {
  color: #FFFFFF;
}

.ct-perfect-fourth>svg {
  position: relative;
}

.ct-line {
  stroke-width: 1px;
}

.ct-point {
  stroke-width: 7px;
  stroke-linecap: round;
}

#chart1 .ct-series-a .ct-line {
  stroke: #25D295;
  stroke-width: 1px;
}

#chart1 .ct-series-a .ct-point {
  stroke: #ffffff;
}

#chart2 .ct-series-a .ct-line {
  stroke: #72BBFF;
  stroke-width: 1px;
}

#chart2 .ct-series-a .ct-point {
  stroke: #ffffff;
}

#chart3 .ct-series-a .ct-line {
  stroke: #25D295;
  stroke-width: 1px;
}

#chart3 .ct-series-a .ct-point {
  stroke: #ffffff;
}

#chart4 .ct-series-a .ct-line {
  stroke: #72BBFF;
  stroke-width: 1px;
}

#chart4 .ct-series-a .ct-point {
  stroke: #ffffff;
}

#chart5 .ct-series-a .ct-line {
  stroke: #FFB800;
  stroke-width: 1px;
}

#chart5 .ct-series-a .ct-point {
  stroke: #ffffff;
}

.ct-label {
  color: #717479;
}

.shops-graph,
.bots-graph {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.bots-graph {
  flex-wrap: wrap;
}

.ct-perfect-fourth::before {
  content: none;
}

#chart1,
#chart2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #182533;
  border-radius: 23px;
  width: 730px;
  height: fit-content;
}

#chart3,
#chart4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #182533;
  border-radius: 23px;
  width: 730px;
  height: fit-content;
}

#chart5 {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #182533;
  border-radius: 23px;
  width: 100%;
  height: fit-content;
}

.ct-grid {
  stroke: #294059;
  stroke-width: 1px;
  stroke-dasharray: 2px;
}

.ct-perfect-fourth::before {
  padding-bottom: 25%;
}

.last-buying-section {
  display: flex;
  flex-wrap: wrap;
}

.last-buying-section-block {
  display: flex;
  padding: 20px;
  background: #182533;
  border-radius: 23px;
  align-items: center;
  text-decoration: none;
  min-width: 370px;
  justify-content: space-between;
  margin-right: 30px;
  margin-bottom: 20px;
}

.l-b-s-b-text-date {
  font-size: 13px;
  line-height: 15px;
  color: #6D7F8F;
  margin-bottom: 6px;
}

.l-b-s-b-text-name {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.l-b-s-b-text-buyer {
  font-size: 16px;
  line-height: 19px;
  color: #6D7F8F;
}

.l-b-s-b-text-buyer>a {
  color: #72BBFF;
  text-decoration: none;
}

.l-b-s-b-button {
  padding: 7px;
}

.active-subsection {
  background: #232E3C;
}

.active-subsection>li {}

.active-subsection>li>a:before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 3px;
  background: #37485F;
  border-radius: 104px;
  top: -3px;
  position: relative;
  margin-right: 14px;
}

.active-subsection>li>a {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #FFFFFF;
  display: inline-block;
  width: -moz-available;
}

.bots-actions {
  display: flex;
  justify-content: space-between;
}

.bots-add-bot {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.bots-add-bot p {
  font-size: 18px;
  line-height: 21px;
  padding: 20px;
  color: #FFFFFF;
}

.bots-actions-end {
  display: flex;
}

.bots-actions-block {
  background: #2B5278;
  border-radius: 23px;
  padding: 20px 40px;
  min-width: 160px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #99CAF9;
  margin-right: 15px;
}

.bots-actions-block span {
  font-weight: 500;
  color: #FFFFFF;
}

.subsection.active {
  background: #2b527882;
}

.product-block {
  background: #182533;
  border-radius: 17px;
  padding: 26px;
  width: 380px;
  margin-right: 38px;
  margin-bottom: 24px;
}

.shops-products-content {
  display: flex;
  flex-wrap: wrap;
}

.product-block-head {
  display: flex;
}

.product-block-head-img {
  margin-right: 13px;
}

.product-block-head-text-head {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin-bottom: 7px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
}

.product-block-head-text-actions>a {
  font-size: 14px;
  line-height: 16px;
  color: #6D7F8F;
  text-decoration: none;
  margin-right: 10px;
  text-transform: uppercase;
}

.product-block-head-text-actions>.delete {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FF6565;

}

.product-buyers {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #72BBFF;
  text-decoration: none;
}

.product-block-bottom {
  margin-top: 16px;
}

.categories {
  padding-left: 27px;
  margin-top: 20px;
}

.categories .categories-item {
  font-size: 18px;
  line-height: 21px;
  color: #E6F0FF;
}

.categories .categories-item,
.categories .sub-categories-item,
.sub-sub-categories-item,
.sub-sub-sub-categories-item {
  padding: 7px;
  padding-left: 0;
}

.categories .sub-categories-item,
.sub-sub-categories-item,
.sub-sub-sub-categories-item {
  font-size: 14px;
  line-height: 16px;
  color: #AABDD5;
}

.sub-categories-item::before,
.sub-sub-categories-item::before,
.sub-sub-sub-categories-item::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 3px;
  background: #37485F;
  border-radius: 104px;
  top: -3px;
  position: relative;
  margin-right: 10px;
}

.sub-sub-categories,
.sub-sub-sub-categories {
  padding-left: 10px;
}

.product-edit-section-head>label span {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  opacity: 0.55;
  margin-right: 15px;
  padding: 5px;
}

.product-edit-section-head>label>input {
  position: absolute;
  z-index: -99;
  opacity: 0;
}

.product-edit-section-head>label>input:checked+span {
  color: #72BBFF;
  opacity: 1;
}

.product-edit-section-head.active {
  color: #72BBFF;
}

@media (max-width:1400px) {}

@media (max-width:1200px) {}

@media (max-width:991px) {
  html {
    font-size: 12px;
  }
}