@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

svg {
  vertical-align: middle;
}

a:focus {
  outline: none;
}

html {
  /* 

  font-family: 'Inter', sans-serif;
  font-family: 'Manrope', sans-serif; 
  
  */
  font-size: 16px;
}

body {
  background: #0E1621;
  width: 100%;
}

leftside {
  position: fixed;
  top: 0;
  left: 0;
  width: 17.8125rem;
  height: 100vh;
  background: #17212B;
}

aside.admin-products {
  position: fixed;
  top: 0;
  right: 0;
  width: 19.375rem;
  height: 100vh;
  background: #17212B;
}

.leftside-head {
  background: #232E3C;
}

.aside-products-head {
  background: #232E3C;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 1.9375rem;
}

.aside-product-head-name {
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 26px;
  color: #FFFFFF;
  margin-right: 1.25rem;
}

.leftside-head img {
  padding: 25px 30px;
  width: 133;
}

.leftside-user {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.l-user-info {
  margin-bottom: 25px;
}

.l-user-info-img {
  margin-right: 14px;
}

.l-user-info-img img {
  border-radius: 50px;
  width: 63px;
  height: 63px;
}

.l-user-name {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #FFFFFF;
  margin-bottom: 1px;
}

.l-user-status {
  font-size: 13px;
  line-height: 15px;
  color: #5C7484;
  margin-bottom: 5px;
}

.l-user-balance {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #72BBFF;
}

.l-user-balance-text {
  margin-right: 7px;
}

.leftside-upgrade {
  background: #FFB800;
  border-radius: 12px;
  text-decoration: none;
  padding: 10px 16px;
}

.leftside-upgrade-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #17212B;
  text-align: center;
}

.admin-content {
  margin-left: 285px;
  padding-top: 50px;
  padding-left: 60px;
  padding-right: 60px;
}

.admin-content_products {
  margin-left: 285px;
  margin-right: 285px;
  padding-top: 50px;
  padding-left: 60px;
  padding-right: 60px;
}

.adm-navbar__item a {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 23px;
  color: #FFFFFF;
  padding: 14px 30px;
  text-decoration: none;
  display: inline-block;
  width: -moz-available;
}

.navbar_arrow__exist {
  position: relative;
}

.navbar_arrow__exist::after {
  content: url(../images/adm-navbar__arrow.svg);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  padding: 17px;
}

.adm-navbar__active {
  background: #2B5278;
}

.adm-content-section-head {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.adm-main-content-section-content {
  display: flex;
}

.a-c-s-c-block {
  background: #182533;
  width: 272px;
  /* flex-shrink: 0; */
  border-radius: 17px;
  display: flex;
  padding: 24px 27px;
  text-decoration: none;
  align-items: center;
  transition: background .1s ease-in-out;
  margin-right: 38px;
  margin-bottom: 25px;
}

.a-c-s-c-block:hover,
.a-c-s-c-block:focus {
  background: #24394F;
}

.a-c-s-c-block:active {
  background: #121C26;
}

.a-c-s-c-b-img {
  border-radius: 11px;
  width: 46px;
  height: 46px;
  margin-right: 15px;
}

.a-c-s-c-b-text {
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #FFFFFF;
}

.a-c-s-c-b-text-top {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  margin-bottom: 5px;
  color: #FFFFFF;
}

.a-c-s-c-b-text-bottom {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #5C7484;
}

.admin-content>section {
  margin-bottom: 50px;
}

.shops-stats {
  display: flex;
  justify-content: space-between;
}

.shops-stats-block {
  background: #182533;
  border-radius: 23px;
  padding: 1.25rem;
  min-width: 238px;
  margin-right: 10px;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  text-align: center;
  color: #FFFFFF;
}

.shops-stats-block:last-child {
  margin-right: 0;
}

.stats-count {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #25D295;
}

.chart-head {
  display: flex;
  justify-content: space-between;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  width: -moz-available;
}

.chard-head_name {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #FFFFFF;
  opacity: 0.8;
}

.chead_action {
  font-family: inherit;
  background: none;
  border: none;
  font-size: 14px;
  line-height: 17px;
  color: #3E546A;
}

.chead_action.active {
  color: #FFFFFF;
}

.ct-perfect-fourth>svg {
  position: relative;
}

.ct-line {
  stroke-width: 1px;
}

.ct-point {
  stroke-width: 7px;
  stroke-linecap: round;
}

#chart1 .ct-series-a .ct-line {
  stroke: #25D295;
  stroke-width: 1px;
}

#chart1 .ct-series-a .ct-point {
  stroke: #ffffff;
}

#chart2 .ct-series-a .ct-line {
  stroke: #72BBFF;
  stroke-width: 1px;
}

#chart2 .ct-series-a .ct-point {
  stroke: #ffffff;
}

#chart3 .ct-series-a .ct-line {
  stroke: #25D295;
  stroke-width: 1px;
}

#chart3 .ct-series-a .ct-point {
  stroke: #ffffff;
}

#chart4 .ct-series-a .ct-line {
  stroke: #72BBFF;
  stroke-width: 1px;
}

#chart4 .ct-series-a .ct-point {
  stroke: #ffffff;
}

#chart5 .ct-series-a .ct-line {
  stroke: #FFB800;
  stroke-width: 1px;
}

#chart5 .ct-series-a .ct-point {
  stroke: #ffffff;
}

.ct-label {
  color: #717479;
}

.shops-graph,
.bots-graph {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.bots-graph {
  flex-wrap: wrap;
}

.ct-perfect-fourth::before {
  content: none;
}

#chart1,
#chart2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #182533;
  border-radius: 23px;
  width: 730px;
  height: fit-content;
}

#chart3,
#chart4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #182533;
  border-radius: 23px;
  width: 730px;
  height: fit-content;
}

#chart5 {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #182533;
  border-radius: 23px;
  width: 100%;
  height: fit-content;
}

.ct-grid {
  stroke: #294059;
  stroke-width: 1px;
  stroke-dasharray: 2px;
}

.ct-perfect-fourth::before {
  padding-bottom: 25%;
}

.last-buying-section {
  display: flex;
  flex-wrap: wrap;
}

.last-buying-section-block {
  display: flex;
  padding: 1.25rem;
  background: #182533;
  border-radius: 23px;
  align-items: center;
  text-decoration: none;
  min-width: 370px;
  justify-content: space-between;
  margin-right: 30px;
  margin-bottom: 1.25rem;
}

.l-b-s-b-text-date {
  font-size: 13px;
  line-height: 15px;
  color: #6D7F8F;
  margin-bottom: 6px;
}

.l-b-s-b-text-name {
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.l-b-s-b-text-buyer {
  font-size: 16px;
  line-height: 19px;
  color: #6D7F8F;
}

.l-b-s-b-text-buyer>a {
  color: #72BBFF;
  text-decoration: none;
}

.l-b-s-b-button {
  padding: 7px;
}

.active-subsection {
  background: #232E3C;
}

.active-subsection>li {}

.active-subsection>li>a:before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 3px;
  background: #37485F;
  border-radius: 104px;
  top: -3px;
  position: relative;
  margin-right: 14px;
}

.active-subsection>li>a {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #FFFFFF;
  display: inline-block;
  width: -moz-available;
}

.bots-actions {
  display: flex;
  justify-content: space-between;
}

.bots-add-bot {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.bots-add-bot p {
  font-size: 1.125rem;
  line-height: 1.3125rem;
  padding: 1.25rem;
  color: #FFFFFF;
}

.bots-actions-end {
  display: flex;
}

.bots-actions-block {
  background: #2B5278;
  border-radius: 23px;
  padding: 1.25rem 40px;
  min-width: 160px;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  text-align: center;
  color: #99CAF9;
  margin-right: 15px;
}

.bots-actions-block span {
  font-weight: 500;
  color: #FFFFFF;
}

.subsection.active {
  background: #2b527882;
}

.product-block {
  background: #182533;
  border-radius: 17px;
  padding: 26px;
  width: 380px;
  margin-right: 38px;
  margin-bottom: 24px;
}

.shops-products-content {
  display: flex;
  flex-wrap: wrap;
}

.product-block-head {
  display: flex;
}

.product-block-head-img {
  margin-right: 13px;
}

.product-block-head-text-head {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #FFFFFF;
  margin-bottom: 7px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
}

.product-block-head-text-actions>a {
  font-size: 14px;
  line-height: 16px;
  color: #6D7F8F;
  text-decoration: none;
  margin-right: 10px;
  text-transform: uppercase;
}

.product-block-head-text-actions>.delete {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FF6565;

}

.product-buyers {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #72BBFF;
  text-decoration: none;
}

.product-block-bottom {
  margin-top: 16px;
}

.categories {
  padding-left: 27px;
  margin-top: 1.25rem;
}

.categories .categories-item {
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #E6F0FF;
}

.categories .categories-item,
.categories .sub-categories-item,
.sub-sub-categories-item,
.sub-sub-sub-categories-item {
  padding: 7px;
  padding-left: 0;
}

.categories .sub-categories-item,
.sub-sub-categories-item,
.sub-sub-sub-categories-item {
  font-size: 14px;
  line-height: 16px;
  color: #AABDD5;
}

.sub-categories-item::before,
.sub-sub-categories-item::before,
.sub-sub-sub-categories-item::before {
  content: "";
  display: inline-block;
  width: 1.375rem;
  height: 3px;
  background: #37485F;
  border-radius: 104px;
  top: -3px;
  position: relative;
  margin-right: 10px;
}

.sub-sub-categories,
.sub-sub-sub-categories {
  padding-left: 10px;
}

.product-edit-section-head {
  margin-bottom: 40px;
}

.product-edit-section-head>label {
  cursor: pointer;
}

.product-edit-section-head>label span {
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #FFFFFF;
  opacity: 0.55;
  margin-right: 15px;
  padding: 5px;
}

.product-edit-section-head>label>input {
  position: absolute;
  z-index: -99;
  opacity: 0;
}

.product-edit-section-head>label>input:checked+span {
  color: #72BBFF;
  opacity: 1;
}

.shop-edit-section-content,
.product-edit-section-content {
  display: flex;
  flex-wrap: wrap;
}

.s-e-s-c-b-head,
.p-e-s-c-b-head {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 23px;
  color: #6AB2F2;
  margin-bottom: 14px;
}

.s-e-s-c-b-content,
.p-e-s-c-b-content {
  display: flex;
  position: relative;
}

label[for="bot_avatar"],
label[for="shop_avatar"],
label[for="product_avatar"] {
  cursor: pointer;
  margin-right: 10px;
}

label[for="bot_avatar"] span,
label[for="shop_avatar"] span,
label[for="product_avatar"] span {
  display: block;
  width: 47px;
  height: 47px;
  border-radius: 11.2391px;
  background-image: url(../images/new_avatar.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #244059;
}

label[for="bot_avatar"]>input,
label[for="shop_avatar"]>input,
label[for="product_avatar"]>input {
  position: absolute;
  z-index: -99;
  opacity: 0;
}

.s-e-s-c-block,
.p-e-s-c-block {
  margin-right: 35px;
  margin-bottom: 40px;
}

.shop-name,
.product-name {
  background: #182533;
  border: 2.15934px solid #233446;
  box-sizing: border-box;
  border-radius: 7.1978px;
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding: 0 1.125rem;
}

.select {
  margin: 0 auto;
  position: relative;
}

.select__header {
  display: flex;
  background: #182533;
  border: 2.15934px solid #233446;
  border-radius: 7.1978px;
  cursor: pointer;
  margin: 0 auto;
  align-items: center;
  min-width: 270px;
}

.select__current {
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  text-align: right;
  padding: 10px;
  padding-left: 19px;
}

.select__icon {
  width: 1.25rem;
  height: 1.25rem;
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  padding-right: 19px;
}

.select__body {
  border: 2.15934px solid #233446;
  background: #182533;
  border-top: 0;
  border-radius: 0px 0px 2px 2px;
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  top: 100%;
  border-radius: 0 0 7px 7px;
}

.select__item {
  padding: 8px;
  padding-left: 19px;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  text-align: right;
  cursor: pointer;
}

[name="price"] {
  background: none;
  border: none;
  font-size: 16px;
  line-height: 19px;
  padding: 12px 1.25rem;
  color: #FFFFFF;
  width: 185px;
}

[name="product-being-sold"],
[name="product-buy-message"],
[name="product-description"] {
  background: #182533;
  border: 2.15934px solid #233446;
  box-sizing: border-box;
  border-radius: 7.1978px;
  padding: 1.125rem;
  font-family: inherit;
  font-size: 16px;
  line-height: 156.19%;
  color: #FFFFFF;
}

[name="product-being-sold"] {
  width: 100%;
}

select[id="valute"] {
  border: none;
  background: none;
  width: 35px;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  text-align: right;
  color: #54718F;
  margin-right: 10px;
}

.p-e-s-c-b-content.price {
  background: #182533;
  border: 2.15934px solid #233446;
  box-sizing: border-box;
  border-radius: 7px;
}

/* .p-e-s-c-b-content.price::after {
  content: "  ᐯ";
  position: absolute;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  text-align: right;
  color: #54718F;
  top: 50%;
  transform: translate(0, -50%);
  right: 12px;
  pointer-events: none;
} */

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.select.is-active .select__header {
  border-radius: 7px 7px 0 0;
}

.select.is-active .select__body {
  display: block;
  z-index: 1;
}

[name="display-rest-product"]:not(:checked),
[name="not-yeat-product"]:not(:checked),
[name="display-rest-product"]:checked,
[name="not-yeat-product"]:checked,
[name="const"]:not(:checked),
[name="const"]:checked {
  position: absolute;
  left: -9999px;
}

[name="display-rest-product"]:not(:checked)+label,
[name="not-yeat-product"]:not(:checked)+label,
[name="display-rest-product"]:checked+label,
[name="not-yeat-product"]:checked+label,
[name="const"]:not(:checked)+label,
[name="const"]:checked+label {
  position: relative;
  cursor: pointer;
  margin-bottom: 4px;
  display: inline-block;
  font-size: 16px;
  line-height: 19px;
  padding: 7px 0;
  padding-left: 50px;
  color: #FFFFFF;
}

[name="display-rest-product"]:not(:checked)+label:before,
[name="not-yeat-product"]:not(:checked)+label:before,
[name="display-rest-product"]:checked+label:before,
[name="not-yeat-product"]:checked+label:before,
[name="const"]:not(:checked)+label:before,
[name="const"]:checked+label:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
  border: 2px solid #233446;
  background: #182533;
  border-radius: 10px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
}

[name="display-rest-product"]:not(:checked)+label:after,
[name="not-yeat-product"]:not(:checked)+label:after,
[name="display-rest-product"]:checked+label:after,
[name="not-yeat-product"]:checked+label:after,
[name="const"]:not(:checked)+label:after,
[name="const"]:checked+label:after {
  content: '✔';
  position: absolute;
  top: 3px;
  left: 7px;
  font-size: 1.375rem;
  line-height: 1.2;
  color: #25D295;
  transition: all .2s;
}

[name="display-rest-product"]:not(:checked)+label:after,
[name="not-yeat-product"]:not(:checked)+label:after,
[name="const"]:not(:checked)+label:after {
  opacity: 0;
  transform: scale(0);
}

[name="display-rest-product"]:checked+label:after,
[name="not-yeat-product"]:checked+label:after,
[name="const"]:checked+label:after {
  opacity: 1;
  transform: scale(1);
}


label:hover:before {
  border: 2px solid #4778d9 !important;

  background: #182533
}

.product-edit-section-actions {
  margin-top: 70px;
}

.shop-edit-section-actions [type="submit"],
.product-edit-section-actions [type="submit"] {
  background: none;
  border: none;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 23px;
  color: #72BBFF;
  margin-right: 25px;
}

.shop-edit-section-actions [type="reset"],
.product-edit-section-actions [type="reset"] {
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.25rem;
  line-height: 23px;
  color: #5C7484;
}


table.iksweb {
  text-decoration: none;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

table.iksweb th {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 23px;
  color: #FFFFFF;
  background-color: #2B5278;
}

table.iksweb td {
  font-size: 13px;
  color: #354251;
}

table.iksweb td,
table.iksweb th {
  padding: 1.25rem 25px;
  line-height: 13px;
  vertical-align: middle;
  border: 2px solid #1B2836;
}

table.iksweb tr:hover td {
  color: #ffffff;
  background-color: #385474;
  cursor: default;
}

table.iksweb td {
  padding: 14px 25px;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #FFFFFF;
  background: #202F40;
}

.mobile-table {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  background: #1B2836;
  border-radius: 1.25rem;
  padding-bottom: 30px;
}

/* table.iksweb td.cell-1 {
  display: flex;
  border: none;
} */

.cell-1-buyer,
.cell-2-product {
  display: flex;
  flex-direction: column;
}

tr a {
  text-decoration: none;
}

.cell-5-price {
  display: flex;
}

.cell-5-price-price {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #25D295;
}

.cell-5-price-amount {
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #5C7484;
  margin-left: 5px;
}

.cell-4-status-head,
.cell-3-product-type-head,
.cell-2-product-head,
.cell-1-buyer-name {
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #FFFFFF;
  margin-bottom: 5px;
}

.cell-3-product-type-bottom,
.cell-2-product-bottom,
.cell-1-buyer-subname {
  font-size: 14px;
  line-height: 16px;
  color: #72BBFF;
}

.cell-3-product-type-bottom,
.cell-4-status-bottom {
  text-transform: uppercase;
}

.cell-4-status-bottom {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FF6565;
}

.cell-1-buyer img {
  margin-left: 8px;
}

.manager-section-content .a-c-s-c-block {
  width: 245px;
}

.manager-section-content {
  display: flex;
  flex-wrap: wrap;
}

.bot-edit-checkboxes>* {
  margin-right: 25px;
}

.bot-edit-checkboxes {
  margin-bottom: 40px;
}

.bot-users-searchinput {
  position: relative;
  margin-bottom: 1.25rem;
}

.bot-users-searchinput input {
  width: -moz-available;
  padding-left: 40px;
  font-family: inherit;
  font-size: 16px;
  line-height: 41px;
  color: #cecece;
  background: #182533;
  border: 2px solid #233446;
  border-radius: 7px;
}

.bot-users-searchinput::before {
  content: url(../images/search.svg);
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translate(0, -50%);
}

.cell-3-actions {
  display: flex;
  justify-content: end;
}

.cell-3-action {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  margin-right: 15px;
  text-transform: uppercase;
}

.cell-3-action.default {
  color: #5C7484;
}

.cell-3-action.green {
  font-weight: 500;
  color: #25D295;
}

.cell-3-action.red {
  font-weight: 500;
  color: #FF6565;
}

.cell-3-action.more {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #72BBFF;
}

@media (max-width:1400px) {}

@media (max-width:1200px) {}

@media (max-width:991px) {
  html {
    font-size: 12px;
  }
}